.card2{
    width: 22rem;
    height: 29rem;
    border: none;
    margin: 2rem;
}
#container2{
    padding-bottom: 2rem;
    padding-top: 1rem;
    margin-top: 6rem;
    display: block;
    height: auto;
    background-image: url("https://mobirise.com/extensions/floram4/floral-studio/assets/images/background1.jpg");
}
.card img{
    width: 22rem;
    height: 16rem;
}
#namep{
    margin-top: 2rem;
    border: 1px solid;
    border-color: #FCA9A4;
    font-weight:400 ;
    font-size:22px ;
    line-height:33px ;
    color: rgb(27, 116, 94);
}
#pricep{
    border: 1px solid;
    border-color: #FCA9A4;
    font-weight:400 ;
    font-size:18px ;
    line-height:33px ;
    color: rgb(27, 116, 94);
}
#centerp{
    
    width: 96%;
margin-left: 2rem;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    text-align: center;
    font-style: italic;
    border-color: #FCA9A4;
    font-weight:400 ;
    font-size:18px ;
    line-height:33px ;
    color: rgb(27, 116, 94);
    margin-top: 1rem;
}
#centerh3{
margin-left: 2rem;

    width: 96%;
    border: 1px solid;
    padding-top: 2rem;
    text-align: center;
    padding-bottom: 3rem;
    border-color: #FCA9A4;
    font-weight:400 ;
    font-size:46px ;
    line-height:10px ;
    color: rgb(27, 116, 94);
}